.formInputCont {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}

.formInputCont>div {
    display: grid;
    align-content: flex-start;
    gap: .5rem;
}

.scrollCont {
    display: grid;
    grid-auto-columns: min(300px, 90%);
    grid-auto-flow: column;
    gap: 2rem;
    overflow: auto;
}