.main {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    overflow: auto;
}

.form {
    display: grid;
    padding: var(--spacingR);
    gap: var(--spacingS)
}

.form>div {
    display: grid;
}