.main {
    display: grid;
    align-content: flex-start;
}

.serviceCont {
    display: grid;
    align-content: flex-start;
    padding: var(--spacingR);
}

.serviceCont>h2 {
    margin-top: var(--spacingR);
}

.serviceCont>p {
    padding-left: var(--spacingR);
    max-width: 50ch;
}