.form {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
}

.form>div {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingS);
}

.tokensCont {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    grid-auto-columns: 80%;
    margin-top: var(--spacingEL);
}

.tokenCont {
    display: grid;
    align-content: flex-start;
}

.tokenCont>div {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingS);
}