@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    border: 1px solid red !important;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(var(--shade1));
}

/* 
I believe in classnames
fonts
font sizes
colors being dynamic
everything else should be stated
*/

:root {
    --viewColor1: rgb(33, 112, 186);
    --viewColor2: rgb(245, 245, 220);
    --viewColor3: rgb(240, 248, 255);

    --viewShade1: #171717;
    --viewShade2: #ffffff;
    --viewShade3: #fafafa;
    --viewShade4: #eeeeee;

    --color1: 33, 112, 186;
    --color2: 245, 245, 220;
    --color3: 240, 248, 255;

    --shade1: 23, 23, 23;
    --shade2: 255, 255, 255;
    --shade3: 250, 250, 250;
    --shade4: 238, 238, 238;

    --fontSizeS: .7rem;
    --fontSizeR: 1rem;
    --fontSizeL: 2rem;
}


body {
    height: 100vh;
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto 1fr;
    overflow-y: clip;

    color: rgb(var(--shade1));
    background-color: rgb(var(--shade2));
    font-size: var(--fontSizeR);
}

.big {
    height: 5000vh;
    background-color: pink;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

input,
textarea {
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid rgb(var(--shade1));
}

input:focus,
textarea:focus {
    background-color: rgb(var(--shade2));
    outline: none;
}

h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: var(--fontSizeL);
}

h3 {
    font-weight: bold;
    text-transform: capitalize;
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 400ms;
}

svg:hover {
    scale: 1.05;
}


section {
    display: grid;
    align-content: flex-start;
}

/* custom classes */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

.mainButton {
    background-color: rgb(var(--shade1));
    color: rgb(var(--shade2));
    padding: .5rem 1rem;
    text-transform: capitalize;
    font-weight: bold;
    justify-self: flex-start;
    transition: scale 400ms;
}

.mainButton:hover {
    scale: 1.01;
}

.secondaryButton {
    background-color: rgb(var(--shade1));
    color: rgb(var(--shade2));
    padding: .2rem;
    font-size: var(--fontSizeS);
    text-transform: capitalize;
    font-weight: bold;
    transition: scale 400ms;
}

.secondaryButton:hover {
    scale: 1.01;
}

.tag {
    background-color: rgb(var(--color1));
    color: rgb(var(--shade2));
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}

.toolTip::before {
    content: attr(data-tooltip);
    color: rgb(var(--shade1));
    background-color: rgb(var(--shade2));
    border: 1px solid rgb(var(--shade1));
    padding: .5rem;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    margin: 1rem;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 400ms;
    font-size: var(--fontSizeS);
    z-index: 99999;
    text-transform: capitalize;
}

.toolTip:hover::before {
    animation: slowOpacity 600ms 2s forwards;
}


@keyframes slowOpacity {
    to {
        opacity: 1;
    }
}

.reset * {
    all: unset;
    display: revert;
    box-sizing: border-box;
}