@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    border: 1px solid red !important;
}

:root {
    --color1: #e52b50;
    --color2: #F4F7FC;
    --color3: #0582f0;

    --bg1: #252628;
    --bg2: #fff;

    --shade1: #ddd;
    --shade2: #777;
    --shade3: #aaa;
    --shade4: #111;
    --shade5: #fff;

    --fontWeightM: 500;

    --fontSizeEL: 2.3rem;
    --fontSizeL: 2rem;
    --fontSizeM: 1.3rem;
    --fontSizeR: 1rem;
    --fontSizeS: .7rem;

    --iconSizeL: 3rem;
    --iconSizeS: 1.2rem;

    --spacingS: .5rem;
    --spacingR: 1rem;
    --spacingL: 1.5rem;
    --spacingEL: 2rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg1);
}

*::-webkit-scrollbar {
    height: .2rem;
    width: .2rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--bg2);
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    display: grid;
    align-content: flex-start;
    font-size: var(--fontSizeR);
    background-color: var(--bg2);
    font-family: var(--rubik);
}

.big {
    height: 5000vh;
    background-color: pink;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

input,
textarea {
    padding: 1rem;
    background-color: var(--color2);
    border-radius: .2rem;
    border: 1px solid #ddd;
}

input:focus,
textarea:focus {
    background-color: #fff;
    outline: none;
}


input[type="color"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    outline: none;
}

input[type="color"]::-webkit-color-swatch {
    border: 2px solid var(--shade1);
}

input[type="color"]::-moz-color-swatch {
    border: 2px solid var(--shade1);
}

::-webkit-input-placeholder,
::-moz-placeholder {
    white-space: pre-line;
    position: relative;
    top: -7px;
}

h1 {
    font-weight: bold;
    font-size: var(--fontSizeL);
    text-transform: capitalize;
}

h2 {
    font-size: var(--fontSizeM);
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    font-weight: bold;
}

p {
    /* max-width: 50ch; */
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 400ms;
}

svg:hover {
    scale: 1.05;
}

section {
    padding: 2rem 1rem;
    display: grid;
    align-content: flex-start;
}


















/* custom classes */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

.button1 {
    background-color: var(--color1);
    border-radius: .5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    transition: filter 400ms;
    white-space: nowrap;
}

.button1:hover {
    filter: brightness(.8);
}

.button1:disabled {
    opacity: .5;
}

.button2 {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    transition: background-color 400ms, color 400ms;

}

.button2>svg {
    fill: #fff
}

.button2:hover {
    background-color: #fff;
    color: #000;
}

.button2:hover>svg {
    fill: #000
}


.button3 {
    text-transform: capitalize;
    background-color: var(--color2);
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: .5rem;
    transition: background-color 400ms, color 400ms;
}


.button3 svg {
    fill: #fff
}

.button3>div {
    background-color: var(--color1);
    transition: background-color 400ms;
}

.button3:hover>div {
    background-color: #000
}


.button3:hover {
    background-color: var(--color1);
    color: #fff;
}

.button3Hovering>div {
    background-color: #000
}


.button3Hovering {
    background-color: var(--color1);
    color: #fff;
}

.button4 {
    background-color: var(--bg1);
    color: var(--shade5);
    padding: .2rem;
    font-size: var(--fontSizeS);
    text-transform: capitalize;
    font-weight: 700;
    transition: scale .4s;
}

.tag {
    background-color: var(--color1);
    color: var(--shade2);
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}

.toolTip::before {
    content: attr(data-tooltip);
    color: var(--shade1);
    background-color: var(--shade2);
    border: 1px solid var(--shade1);
    padding: .5rem;
    position: fixed;
    /* top: 0; */
    /* left: 50%; */
    translate: var(--translate, 0 -100%);
    margin: 1rem;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    transition: opacity 400ms;
    font-size: var(--fontSizeS);
    z-index: 99999;
    text-transform: capitalize;
}

.toolTip:hover::before {
    animation: slowOpacity 600ms 2s forwards;
}


@keyframes slowOpacity {
    to {
        opacity: 1;
    }
}

.hideNav {
    display: none !important;
}

.hideNavButton {
    transition: opacity 400ms ease;
    animation: fadeOut 3s ease;
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hideNavButton:hover {
    opacity: 1;
}

.svgChildFill>svg {
    fill: var(--fill, var(--shade2));
}

.resizeSvg>svg {
    width: 100%;
    aspect-ratio: 1/1;
}

.highlight {
    color: var(--color1);
    fill: var(--color1);
}

.hoverHighlight:hover {
    transition: color 400ms, fill 400ms;
}

.hoverHighlight:hover {
    color: var(--color1);
    fill: var(--color1);
}

.noDisplay {
    display: none;
}

.fadeIn {
    animation: fadeIn calc(var(--fadeTime, 1s)) both;
}

.closeButton {
    transition: color 200ms, rotate 200ms;
}

.closeButton:hover {
    color: var(--color1);
    rotate: 10deg;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideInCont {
    overflow: hidden;
}

.slideIn {
    position: relative;
    animation: slideIn 1s both;
    transform-origin: bottom left;
}

@keyframes slideIn {
    0% {
        translate: 0 100%;
    }

    100% {
        translate: 0 0%;
    }
}

.slideFromRight {
    position: relative;
    animation: slideFromRight 1s both;
}

@keyframes slideFromRight {
    0% {
        translate: 100vw 0;
    }

    100% {
        translate: 0 0;
    }
}

.slideFromLeft {
    position: relative;
    animation: slideFromLeft 1s both;
}

@keyframes slideFromLeft {
    0% {
        translate: -100vw 0;
    }

    100% {
        translate: 0 0;
    }
}

.supportingTitle1 {
    text-transform: uppercase;
    position: relative;
    justify-self: flex-start;
}

.supportingTitle1::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    border-top: solid 2px #fff;
    text-transform: uppercase;
}

.supportingTitle2 {
    text-transform: uppercase;
    color: var(--color1);
    font-weight: bold;
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}

.reset * {
    all: unset;
    display: revert;
    box-sizing: border-box;
}

.reset img,
.reset svg {
    display: block;
}

.reset img {
    overflow: hidden;
}

.reset ul,
.reset ol,
.reset li {
    list-style: none;
}

.reset a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.reset .material-symbols-outlined {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.hoverUnderline:hover {
    text-decoration: underline;
}