@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* white background */
    --viewColor1: #0000ff;
    --viewShade1: #171717;
    --viewShade2: #ffffff;
    --viewShade3: #fafafa;

    --shade1: 23, 23, 23;
    --shade2: 255, 255, 255;
    --shade3: 250, 250, 250;

    /* property name / size / es / s/ r / m / l /el */
    --gapEs: .5rem;
    --gapR: 1rem;

    --paddingEs: .5rem;
    --paddingR: 1rem;

    --radiusR: 1rem;

    --transitionR: 400ms;
}

*,
*::before,
*::after {
    /* border: 1px solid red !important; */
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    color: rgb(var(--shade1));
    background-color: rgb(var(--shade2));
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

input,
textarea {
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid var(--shade1);
}

input:focus,
textarea:focus {
    background-color: rgb(var(--shade2));
    outline: none;
}