@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: aliceblue;
    --gray1: #ddd;
}

*,
*::before,
*::after {
    border: 1px solid red !important;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

input,
textarea {
    padding: 1rem;
    background-color: var(--color1);
    border-radius: .2rem;
    border: 1px solid var(--gray1);
}

input:focus,
textarea:focus {
    background-color: #fff;
    outline: none;
}