.main {
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: auto;
    z-index: 0;
}

.topSettingsCont {
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr auto 1fr;
    padding: .1rem;
}

.mainSettingsContMiddle {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.mainContent {
    display: grid;
    align-content: flex-start;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
}

.canvasCont {
    display: grid;
    align-content: flex-start;
    background-color: brown;
    overflow-x: auto;
    overflow-y: clip;
    position: relative;
    z-index: 0;
}

.spacer {
    width: 10000px;
    height: 10000px;
}

.canvas {
    position: absolute;
    top: 0;
    z-index: 1;
    transform-origin: top center;

    background-color: var(--shade3);
    overflow-y: scroll;
}

.canvas * {
    all: unset;
    display: revert;
    box-sizing: border-box;
}


.sideBarHolder {
    display: grid;
    align-content: flex-start;
    pointer-events: none;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    height: 100%;
}

.sideBar {
    pointer-events: initial;
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto auto 1fr;
    overflow: auto;
    background-color: var(--shade2);
}

.topSideBar {
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr;
}

.selectionOptionsCont {
    display: flex;
    overflow: auto;
    padding-right: 1rem;
}

.selectionContent {
    display: grid;
    align-content: flex-start;
    overflow: auto;
}

.addOnMenu {
    display: grid;
    align-content: flex-start;
    justify-items: flex-end;
    width: min-content;
    position: fixed;
    bottom: 0;
    translate: -100% 0;
    pointer-events: none;
}

.addOnMenu>* {
    pointer-events: initial;
}

/* desktop */
.sideBarButtons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.sideBarContent {
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    background-color: aliceblue;
    transition: opacity 200ms;
}

.sideBarTopContent {
    display: grid;
    align-content: flex-start;
    overflow: auto;
}

.pageButtonsCont {
    display: flex;
    overflow-x: auto;
    max-width: 80%;
    white-space: nowrap;
    align-items: flex-start;
}

.sideBarOtherContent {
    display: grid;
    gap: 1rem;
    align-content: flex-start;
    overflow: auto;
    padding: 1rem;
}

.editing {
    display: grid;
    align-content: flex-start;
}

.styling {
    display: grid;
    align-content: flex-start;
    overflow-y: auto;
}


.highlightComponent {
    animation: highlightComponent 5s ease;
}

@media only screen and (max-width: 600px) {
    .sideBarHolder {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60%;
    }

    .addOnMenu {
        display: flex;
        position: fixed;

        bottom: 0;
        right: 0;
        translate: 0 0;
        pointer-events: none;
        z-index: 99999;
    }

}

@keyframes highlightComponent {
    0% {
        filter: brightness(1);

    }

    10% {
        filter: brightness(.5);

    }

    100% {
        filter: brightness(1);
    }
}



.styleEditor {
    background-color: antiquewhite;
    color: var(--shade1);
    min-height: 150px;
}
















.form {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}

.form>div {
    display: grid;
    align-content: flex-start;
    gap: .5rem;
}

.fontsCont {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    grid-auto-columns: 80%;
    margin-top: 2rem;
}

.fontCont {
    display: grid;
    align-content: flex-start;
}

.fontCont>div {
    display: grid;
    align-content: flex-start;
    gap: .5rem;
}