.footerUL {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    column-gap: var(--spacingR);
    row-gap: var(--spacingEL);
    text-transform: capitalize;
    white-space: nowrap;
    width: min(1000px, 100%);
    justify-self: center;
}


.footerUL>li>h3 {
    margin-bottom: var(--spacingR);
}


.footerSubUL {
    display: grid;
    gap: var(--spacingR)
}