.contDiv {
    display: grid;
    position: relative;
    align-items: center;
}

.moreItemsMenu {
    padding: .5rem;
    display: grid;
    position: absolute;
    top: 100%;
    right: 0;
    width: min(300px, 100vw);
    background-color: var(--shade2);
}

.moreIntemsItem {
    padding: .5rem;
    transition: color 400ms, background-color 400ms;
    cursor: pointer;
}

.moreIntemsItem:hover {
    background-color: var(--shade1);
    color: var(--shade4);
}