.form {
    display: grid;
}

.colorInput {
    border-radius: 50%;
    inline-size: 30px;
    block-size: 30px;

    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
}

/* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
.colorInput::-webkit-color-swatch-wrapper {
    padding: 1px;
}

/* Affects the inner circle, i.e. the current color selection */
.colorInput::-webkit-color-swatch {
    border-radius: 50%;
}

.colorInput::-moz-color-swatch {
    border-radius: 50%;
}

.formSectionCont {
    display: grid;
    gap: 2rem;
}

.formInputCont {
    display: grid;
}

/* handle components view */
.componentCont {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    overflow: auto;
    gap: 1rem;
    padding-block: 1rem;
}

.component {
    display: grid;
    gap: .5rem;
    align-content: flex-start;
}