.nav {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-transform: capitalize;
    padding-inline: var(--paddingEs);
    align-items: center;
}

.menu {
    display: flex;
    gap: var(--gapR);
}

.menuItem {
    display: grid;
    padding: var(--paddingEs);
}