.barCont {
    display: grid;
    align-content: flex-start;
    justify-items: center;
    position: relative;
    z-index: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.leftBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto 1fr;
    width: min(600px, 100%);
    z-index: 1;
    background-color: rgb(var(--color2));
    transition: background-color 400ms;
}

.leftBarHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: flex-end;
    gap: .5rem;
}

.leftBarContent {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    align-content: flex-start;
    transition: opacity 400ms;
    overflow-y: auto;
}

.middleBar {
    width: 100%;
    height: 100%;

    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
}

.middleBarSettings {
    display: flex;
    justify-content: center;
    gap: .5rem;
    background-color: yellow;
    padding: .5rem;
}

.middleBarSettings svg {
    width: 1.5rem;
}

.sizeOptions {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.middleBarContent {
    display: grid;
    overflow: auto;
    align-content: flex-start;
    justify-items: center;
}

.viewCanvas {
    width: 4000px;
    background-color: rgb(var(--shade4));
}


.form {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.form>div {
    display: grid;
}










.templateOptionCont {
    border: 1px solid rgb(var(--shade1));
    display: grid;
    grid-template-columns: auto 1fr;
}

.templateOptionsContLeft {
    background-color: grey;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.templateOptionsContRight {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    position: relative;
}

.moreOptionsMenu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(var(--shade2));
    width: min(200px, 100%);
    align-content: flex-start;
    max-height: 50vh;
    overflow: auto;
    z-index: 10;
    border: 1px solid rgb(var(--shade1));
}

.moreOptionsMenu>li {
    padding: 1rem;
    display: grid;
    align-content: flex-start;
    border-top: 1px solid rgb(var(--shade1));
}


@media only screen and (max-width: 600px) {
    .leftBar {
        height: 60%;
        overflow-y: auto;
        top: auto;
        bottom: 0;
    }
}




/* handle user project upload */
.imagesCont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 1rem;
}

.imageCont {
    width: 100%;
    aspect-ratio: 1/1;
}