.barCont {
    display: grid;
    align-content: flex-start;
    justify-items: center;
    position: relative;
    z-index: 0;
    grid-template-rows: 100%;
}

.leftBar {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: min(500px, 100%);
    height: 100%;
    background-color: green;
    z-index: 1;
    display: grid;
    gap: 1rem;
    align-content: flex-start;
    background-color: beige;
    position: absolute;
    left: 0;
    transition: opacity 400ms;
    overflow-y: auto;
}

.middleBar {
    width: min(1000px, 100%);
    height: 90vh;

    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
}

.middleBarSettings {
    display: flex;
    justify-content: center;
    gap: .5rem;
    background-color: yellow;
    padding: .5rem;
}

.middleBarSettings svg {
    width: 1.5rem;
}

.sizeOptions {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.middleBarContent {
    display: grid;
    overflow: auto;
    align-content: flex-start;
    justify-items: center;
}



.form {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.form>div {
    display: grid;
}










.templateOptionCont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .leftBar {
        height: 60%;
        overflow-y: auto;
        top: auto;
        bottom: 0;
    }
}